.app-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-streamlit-100);
}
.app-decoration {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 2px;
  display: flex;
  z-index: 200;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-image: linear-gradient(90deg, rgb(255, 247, 0) 0.00%,rgb(0, 255, 193) 99.00%);
}
.app-open-sidebar {
  top: var(--dl-space-space-unit);
  fill: var(--dl-color-streamlit-700);
  left: var(--dl-space-space-unit);
  width: 32px;
  cursor: pointer;
  height: 32px;
  padding: 4px;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  border-color: var(--dl-color-streamlit-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.app-open-sidebar:hover {
  background-color: var(--dl-color-streamlit-500);
}
.app-refresh {
  top: var(--dl-space-space-unit);
  fill: var(--dl-color-streamlit-700);
  right: var(--dl-space-space-unit);
  width: 32px;
  cursor: pointer;
  height: 32px;
  padding: 4px;
  z-index: 100;
  position: absolute;
  transition: 0.3s;
  border-color: var(--dl-color-streamlit-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.app-refresh:hover {
  background-color: var(--dl-color-streamlit-500);
}
.app-root {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-start;
}
.app-sidebar {
  top: 0px;
  flex: 0.2;
  height: 100vh;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: relative;
  max-width: 550px;
  min-width: 300px;
  transition: transform 300ms ease 0ms;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-streamlit-300);
}
.app-close-sidebar {
  top: var(--dl-space-space-unit);
  fill: var(--dl-color-streamlit-700);
  right: var(--dl-space-space-unit);
  width: 32px;
  cursor: pointer;
  height: 32px;
  padding: 4px;
  position: absolute;
  align-self: flex-end;
  transition: 0.3s;
  border-color: var(--dl-color-streamlit-500);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
}
.app-close-sidebar:hover {
  background-color: var(--dl-color-streamlit-500);
}
.app-nav-item {
  display: flex;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.app-nav-item-text {
  color: var(--dl-color-streamlit-700);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
  text-transform: uppercase;
}
.app-main {
  flex: 1;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.app-header {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  justify-content: center;
}
.app-image {
  height: 32px;
  align-self: center;
  visibility: hidden;
}
.app-content {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.app-status {
  flex:  1 1;
  height: 100px;
  margin: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-streamlit-500);
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-streamlit-300);
}
.app-status-header {
  flex: 0 0 auto;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  padding: var(--dl-space-space-unit) var(--dl-space-space-twounits);
  justify-content: space-between;
}
.app-heading-text {
  color: var(--dl-color-streamlit-700);
  font-size: 20px;
}
.app-view-icons {
    width: auto;
    height: 32px;
    display: flex;
    align-items: center;
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: flex-start;
}
.app-view-icon-list {
    fill: var(--dl-color-streamlit-700);
    width: 32px;
    height: 32px;
    padding: 4px;
    transition: 0.3s;
    border-radius: var(--dl-radius-radius-radius2);
}
.app-view-icon-grid {
    fill: var(--dl-color-streamlit-700);
    width: 32px;
    height: 32px;
    padding: 4px;
    transition: 0.3s;
    border-radius: 2px;
}

.app-tablediv {
  flex: 1;
  height: 100px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
  border-top: 2px solid var(--dl-color-streamlit-500);
  border-bottom: 2px solid var(--dl-color-streamlit-500);
}

table{
  width: 100%;
  height: auto;
  text-align: center;
  color: var(--dl-color-streamlit-700);
  border-spacing: 0;
}
thead{
  background-color: var(--dl-color-streamlit-500);
}
th{
  font-weight: 400;
  font-size: 16px;
  padding: 14px;
}
/* tbody tr{
  padding: 8px;
} */
tbody tr:hover {
  background-color: var(--dl-color-streamlit-500);
}
td{
  font-size: 14px;
  font-weight: 400;
  padding: 12px;
  text-overflow: ellipsis;
  border-bottom: 1px solid var(--dl-color-streamlit-500);
}
#host-table-state{
  min-width: 48px;
  width: 48px;
}
#host-table-name {
    min-width: 220px;
}
#host-table-uuid{
  min-width: 340px;
  width: 340px;
}
#host-table-seen{
  min-width: 200px;
  width: 200px;
}
#host-table-created{
  min-width: 250px;
  width: 250px;
}

.app-griddiv {
    flex: 1;
    height: 100px;
    display: flex;
    padding: var(--dl-space-space-unit);
    flex-wrap: wrap;
    align-self: stretch;
    overflow-y: auto;
    align-items: flex-start;
    justify-content: space-around;
    border-top: 2px solid var(--dl-color-streamlit-500);
    border-bottom: 2px solid var(--dl-color-streamlit-500);
}
.app-griditem {
    width: 18vw;
    display: flex;
    padding: var(--dl-space-space-unit);
    min-width: 300px;
    transition: 0.3s;
    align-items: center;
    border-radius: var(--dl-radius-radius-radius8);
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.app-griditem:hover {
    background-color: var(--dl-color-streamlit-500);
}
.app-griditem-image {
    width: 100%;
    object-fit: cover;
}
.app-griditem-footer {
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 4px;
    align-items: center;
    justify-content: center;
}
.app-griditem-icon {
    fill: var(--dl-color-success-700);
    width: 24px;
    height: 24px;
    padding: 6px;
}
.app-griditem-text {
    color: var(--dl-color-streamlit-700);
}


.app-status-footer {
  flex: 0 0 auto;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--dl-space-space-unit) var(--dl-space-space-twounits);
}

.home-status-icon {
  margin-top: 3px;
  width: 14px;
  height: 14px;
  align-self: center;
}




/* .app-content {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    overflow-y: auto;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
} */
.app-host {
    flex:  1 1;
    height: 100px;
    margin: var(--dl-space-space-oneandhalfunits);
    display: flex;
    align-self: stretch;
    align-items: center;
    border-color: var(--dl-color-streamlit-500);
    border-style: solid;
    border-width: 2px;
    border-radius: 16px;
    flex-direction: column;
    justify-content: center;
    background-color: var(--dl-color-streamlit-300);
}
.app-innermain {
    flex: 1;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.app-info {
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    padding: var(--dl-space-space-halfunit);
    align-items: center;
    justify-content: flex-end;
    border-color: var(--dl-color-streamlit-500);
    border-width: 0;
    border-bottom-width: 2px;
}
.app-image-snip {
    flex: 0;
    width: 100%;
    height: auto;
    max-height: 320px;
    object-fit: contain;
    cursor: pointer;
    border-radius: var(--dl-radius-radius-radius8);
}
.app-details {
    flex: 1;
    width: 200px;
    display: flex;
    padding: var(--dl-space-space-oneandhalfunits);
    align-self: stretch;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}
.app-fields {
    gap: var(--dl-space-space-unit);
    flex: 1;
    width: 200px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.app-field-text {
    color: var(--dl-color-streamlit-700);
    overflow: hidden;
    align-self: stretch;
    font-style: normal;
    text-align: left;
    font-weight: 500;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
}
.app-values {
    gap: var(--dl-space-space-unit);
    flex: 1.5;
    width: 200px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
}
.app-value-textinput {
    color: var(--dl-color-streamlit-700);
    padding: 0px;
    align-self: stretch;
    border-width: 0px;
    background-color: transparent;
}
.app-value-textinput:focus {
    outline: 0px;
}
.app-value-text {
    color: var(--dl-color-streamlit-700);
    overflow: hidden;
    align-self: stretch;
    font-style: normal;
    text-align: left;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.app-cmds {
    flex: 1.4;
    width: 100%;
    display: flex;
    overflow: auto;
    align-items: stretch;
    flex-direction: row;
    justify-content: center;
}
.app-cmds-list {
    flex: 0.2;
    width: auto;
    height: auto;
    display: flex;
    overflow: auto;
    min-width: auto;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-color: var(--dl-color-streamlit-500);
    border-width: 0;
    border-right-width: 2px;
}
.app-cmds-list-item {
    color: var(--dl-color-streamlit-700);
    padding: var(--dl-space-space-halfunit);
    align-self: stretch;
    transition: 0.3s;
    border-radius: var(--dl-radius-radius-radius4);
    cursor: pointer;
}
.app-cmds-list-item:hover {
    background-color: var(--dl-color-streamlit-500);
}
.app-cmds-list-item.selected {
    background-color: var(--dl-color-streamlit-100);
}
.app-cmds-form {
    flex: 1;
    width: 200px;
    display: flex;
    position: relative;
    align-self: stretch;
    align-items: flex-start;
    padding-left: var(--dl-space-space-sixunits);
    padding-right: var(--dl-space-space-sixunits);
    flex-direction: column;
    justify-content: center;
}
.app-form-button {
    right: var(--dl-space-space-oneandhalfunits);
    bottom: var(--dl-space-space-oneandhalfunits);
    cursor: pointer;
    display: flex;
    z-index: 100;
    position: absolute;
    padding-top: var(--dl-space-space-halfunit);
    border-color: #000000;
    padding-left: var(--dl-space-space-unit);
    border-radius: var(--dl-radius-radius-radius8);
    padding-right: var(--dl-space-space-unit);
    flex-direction: row;
    padding-bottom: var(--dl-space-space-halfunit);
    background-color: var(--dl-color-success-700);
}
.app-form-button-icon {
    width: var(--dl-size-size-xsmall);
    height: auto;
}
.app-form-field-row {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    align-items: flex-start;
}
.app-form-field-div {
    flex: 1;
    display: flex;
    align-self: stretch;
    align-items: stretch;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: flex-start;
}
.app-form-field-text {
    color: var(--dl-color-gray-900);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 4px;
    margin-bottom: 6px;
}
.app-form-field-textinput {
    font-family: "JetBrains Mono";
    color: var(--dl-color-streamlit-700);
    padding: 4px;
    font-size: 18px;
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    background-color: transparent;
}
.app-form-field-textinput:focus {
    outline: 0;
}
.app-form-field-select {
    background-color: var(--dl-color-streamlit-300);
    font-size: 16px;
    padding: 4px;
    color: var(--dl-color-streamlit-700);
    align-self: stretch;
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    outline: none;
}
.app-form-field-select:focus {
    outline: 0;
}

.app-form-field-fileinput {
    font-family: "JetBrains Mono";
    color: var(--dl-color-streamlit-700);
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius8);
    padding: 4px;
    font-size: 14px;
    background-color: transparent;
}
.app-form-field-fileinput::file-selector-button {
    font-family: "JetBrains Mono";
    color: var(--dl-color-streamlit-700);
    background-color: transparent;
    border: 0;
    border-right: 2px solid var(--dl-color-streamlit-500);
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    border-top-left-radius: var(--dl-radius-radius-radius4);
    border-bottom-left-radius: var(--dl-radius-radius-radius4);
    transition: .3s;
}

.app-form-field-fileinput::file-selector-button:hover {
    background-color: var(--dl-color-streamlit-500);
}




.app-snip-popup {
    display: none;  /* flex */
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.7);
}
.app-snip-popup-close {
    top: var(--dl-space-space-twounits);
    fill: #ffffff;
    right: var(--dl-space-space-twounits);
    width: 32px;
    height: 32px;
    position: absolute;
    cursor: pointer;
}
.app-snip-popup-inner {
    flex: 1;
    width: auto;
    height: auto;
    display: flex;
    max-width: 90%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.app-snip-popup-image {
    flex: 0;
    width: 100%;
    height: auto;
    max-height: 80%;
    object-fit: contain;
}
.app-snip-popup-footer {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: var(--dl-space-space-halfunit);
    align-items: center;
    justify-content: flex-start;
}
.app-snip-popup-text {
    color: var(--dl-color-gray-700);
    font-size: 12px;
    cursor: pointer;
}
.app-snip-popup-text:hover {
    text-decoration: underline;
}




@media(max-width: 1300px) {
  .app-status {
    margin: var(--dl-space-space-unit);
  }
  .app-host {
    margin: var(--dl-space-space-unit);
  }
}
@media(max-width: 1000px) {
  .app-status {
    margin: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
  }
  .app-host {
    margin: var(--dl-space-space-halfunit);
    border-radius: var(--dl-radius-radius-radius8);
  }
  .app-info {
    flex-direction: column;
  }
  .app-details {
    width: auto;
    align-self: stretch;
  }
}






.app-logintext {
  color: var(--dl-color-gray-900);
  font-size: 28px;
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.app-welcometext {
  color: var(--dl-color-gray-700);
  font-size: 20px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.app-loginform {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 0 0 auto;
  width: 450px;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius8);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: flex-start;
  background-color: var(--dl-color-streamlit-300);
}
.app-usernametext {
  color: var(--dl-color-streamlit-700);
  font-size: 18px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  text-transform: uppercase;
}
.app-usernameinput {
  color: var(--dl-color-streamlit-700);
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: stretch;
  background-color: var(--dl-color-portainer-100);
}
.app-usernameinput:focus {
    outline: 0px;
}
.app-passwordtext {
  color: var(--dl-color-streamlit-700);
  font-size: 18px;
  text-align: left;
  text-transform: uppercase;
}
.app-passwordinput {
  color: var(--dl-color-streamlit-700);
  padding: var(--dl-space-space-halfunit);
  font-size: 16px;
  align-self: stretch;
  background-color: var(--dl-color-portainer-100);
}
.app-passwordinput:focus {
    outline: 0px;
}
.app-loginbutton {
  flex: 1;
  font-size: 16px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-halfunit);
  /*border-color: var(--dl-color-streamlit-700);*/
  padding: var(--dl-space-space-halfunit) var(--dl-space-space-threeunits);
  text-transform: capitalize;
  background-color: var(--dl-color-success-700);
}
@media(max-width: 767px) {
  .app-logintext {
    font-size: 24px;
  }
  .app-welcometext {
    font-size: 16px;
  }
  .app-loginform {
    gap: var(--dl-space-space-unit);
    width: 90%;
  }
  .app-usernametext {
    font-size: 16px;
  }
  .app-passwordtext {
    font-size: 16px;
  }
}



.app-group-new-div {
    width: auto;
    height: 32px;
    display: flex;
    transition: 0.3s;
    align-items: center;
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: center;
    cursor: pointer;
}
.app-group-new-div:hover {
    background-color: var(--dl-color-streamlit-500);
}
.app-group-new-icon {
    fill: var(--dl-color-success-700);
    width: 32px;
    height: 32px;
    padding: 8px;
}
.app-group-new-text {
    color: var(--dl-color-streamlit-700);
    margin-right: var(--dl-space-space-halfunit);
}
.app-groupdiv {
    flex: 1;
    height: 100px;
    display: flex;
    align-self: stretch;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    overflow: auto;
    border-top: 2px solid var(--dl-color-streamlit-500);
    border-bottom: 2px solid var(--dl-color-streamlit-500);
}
#group-table-name {
    min-width: 220px;
}
#group-table-state{
    min-width: 140px;
    width: 140px;
}
#group-table-uuid{
    min-width: 340px;
    width: 340px;
}
#group-table-created{
    min-width: 250px;
    width: 250px;
}

.app-group-delete {
    width: auto;
    height: 32px;
    display: flex;
    transition: 0.3s;
    align-items: center;
    background-color: var(--dl-color-streamlit-100);
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: center;
    cursor: pointer;
}
.app-group-delete:hover {
    background-color: var(--dl-color-streamlit-500);
}
.app-group-delete-icon {
    fill: var(--dl-color-danger-700);
    width: 32px;
    height: 32px;
    padding: 6px;
}
.app-group-edit-div {
    width: auto;
    height: 32px;
    display: flex;
    transition: 0.3s;
    align-items: center;
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: center;
    cursor: pointer;
}
.app-group-edit-div:hover {
    background-color: var(--dl-color-streamlit-500);
}
.app-group-edit-div.selected {
    background-color: var(--dl-color-streamlit-100);
}
.app-group-edit-icon {
    fill: var(--dl-color-primary-500);
    width: 24px;
    height: 32px;
    /*padding: 8px;*/
    padding: 8px 8px 8px 0;
}
.app-group-edit-text {
    color: var(--dl-color-streamlit-700);
    margin-left: var(--dl-space-space-halfunit);
    margin-right: var(--dl-space-space-halfunit);
}
.app-group-control {
    width: auto;
    height: 32px;
    display: flex;
    transition: 0.3s;
    align-items: center;
    border-color: var(--dl-color-streamlit-500);
    border-width: 2px;
    border-radius: var(--dl-radius-radius-radius4);
    justify-content: center;
    cursor: pointer;
}
.app-group-control:hover {
    background-color: var(--dl-color-streamlit-500);
}
.app-group-control-icon {
    fill: #f9ab00;
    width: 32px;
    height: 32px;
    padding: 8px;
}
.app-group-control-text {
    color: var(--dl-color-streamlit-700);
    margin-right: var(--dl-space-space-halfunit);
}
