<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BeRD</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta charset="utf-8" />
        <script>const IP = "http://140.238.240.27:8000"</script>

        <style data-tag="reset-style-sheet">
html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
        </style>
        <style data-tag="default-style-sheet">
html {
    font-family: Inter;
    font-size: 16px;
}

        body {
            font-weight: 400;
            font-style:normal;
            text-decoration: none;
            text-transform: none;
            letter-spacing: normal;
            line-height: 1.15;
            color: var(--dl-color-gray-black);
            background-color: var(--dl-color-gray-white);

        }
        </style>
        <link
        rel="stylesheet"
        href="https://unpkg.com/animate.css@4.1.1/animate.css"
        />
        <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
        data-tag="font"
        />
        <link href='https://fonts.googleapis.com/css?family=JetBrains Mono' rel='stylesheet'>
        <link
        rel="stylesheet"
        href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
        />
        <!-- Head Custom Code -->

        <!-- Sidebar class and function -->
        <style>
.app-sidebar.closed{
    position: absolute;
    transform: translateX(-600px);
}
        </style>

        <!-- Scrollbar CSS -->
        <style>
::-webkit-scrollbar{
    background: transparent;
    height: 6px;
    width: 6px;
}
        ::-webkit-scrollbar-thumb{
            background-color: gray;
            border-radius: 100px;
        }
        </style>
        <script>
            function toggleSidebar() {
                document.querySelector('.app-sidebar')
                    .classList.toggle('closed');
            }

            function resizeFn() {
                let width = window.innerWidth;
                if (width <= 1300){
                    document.querySelector('.app-sidebar')
                        .classList.add('closed');
                }else{
                    document.querySelector('.app-sidebar')
                        .classList.remove('closed');
                }
            }
            window.onresize = resizeFn;
        </script>

    </head>
    <body style="user-select: none">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', path='/main.css') }}" />
        <div>

            <div class="app-container">
                <div class="app-snip-popup">
                    <svg viewBox="0 0 1024 1024" class="app-snip-popup-close" onclick="snip_popup(false)">
                        <path
                        d="M225.835 286.165l225.835 225.835-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.835-225.835 225.835 225.835c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331l-225.835-225.835 225.835-225.835c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.835 225.835-225.835-225.835c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"
                        ></path>
                    </svg>
                    <div class="app-snip-popup-inner">
                        <img src="{{ url_for('static', path='/blank.png') }}" class="app-snip-popup-image" />
                        <div class="app-snip-popup-footer">
                            <span class="app-snip-popup-text" onclick="see_original()">See original</span>
                            <span class="app-snip-popup-text">See older</span>
                        </div>
                    </div>
                </div>
                <div class="app-decoration"></div>
                <svg onclick="toggleSidebar()" viewBox="0 0 1024 1024" class="app-open-sidebar">
                    <path d="M426 256l256 256-256 256-60-60 196-196-196-196z"></path>
                </svg>
                <svg onclick="clearTimeout(refresh_timer); repeat_reload_info()" viewBox="0 0 1024 1024" class="app-refresh">
                    <path d="M754 270l100-100v300h-300l138-138q-76-76-180-76-106 0-181 75t-75 181 75 181 181 75q74 0 145-50t97-120h88q-28 112-120 184t-210 72q-140 0-240-100t-100-242 100-242 240-100q60 0 131 29t111 71z"></path>
                </svg>
                <div class="app-root">
                    <div class="app-sidebar">
                        <svg onclick="toggleSidebar()" viewBox="0 0 1024 1024" class="app-close-sidebar">
                            <path d="M225.835 286.165l225.835 225.835-225.835 225.835c-16.683 16.683-16.683 43.691 0 60.331s43.691 16.683 60.331 0l225.835-225.835 225.835 225.835c16.683 16.683 43.691 16.683 60.331 0s16.683-43.691 0-60.331l-225.835-225.835 225.835-225.835c16.683-16.683 16.683-43.691 0-60.331s-43.691-16.683-60.331 0l-225.835 225.835-225.835-225.835c-16.683-16.683-43.691-16.683-60.331 0s-16.683 43.691 0 60.331z"></path>
                        </svg>
                        <div class="app-nav-item">
                            <span class="app-nav-item-text">Home</span>
                        </div>
                        <div class="app-nav-item">
                            <span class="app-nav-item-text">Status</span>
                        </div>
                        <div class="app-nav-item">
                            <span class="app-nav-item-text"><a href="/hosts">Hosts</a></span>
                        </div>
                        <div class="app-nav-item">
                            <span class="app-nav-item-text"><a href="/groups">Groups</a></span>
                        </div>
                    </div>
                    <div class="app-main">
                        <header data-role="Header" class="app-header">
                            <img
                            alt="logo"
                            src="https://presentation-website-assets.teleporthq.io/logos/logo.png"
                            class="app-image"
                            />
                        </header>
                        <div class="app-content">
                            <div class="app-host">
                                <div class="app-info">
                                    <img id="host-snip" src="{{ url_for('static', path='/blank.png') }}" class="app-image-snip"  alt="snip" onclick="snip_popup(true)"/>
                                    <div class="app-details">
                                        <div class="app-fields">
                                            <span class="app-field-text">name</span>
                                            <span class="app-field-text">uuid</span>
                                            <span class="app-field-text">status</span>
                                            <span class="app-field-text">last seen</span>
                                            <span class="app-field-text">time created</span>
                                        </div>
                                        <div class="app-values">
                                            <input
                                            type="text"
                                            value="..."
                                            onclick="this.select()"
                                            class="app-value-textinput input"
                                            id="host-name"
                                            />
                                            <span id="host-uuid" class="app-value-text">...</span>
                                            <span id="host-status" class="app-value-text">...</span>
                                            <span id="host-lastseen" class="app-value-text">...</span>
                                            <span id="host-timecreated" class="app-value-text">...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="app-cmds">
                                    <div class="app-cmds-list">
                                        <span id="UPLOAD" class="app-cmds-list-item" onclick=selectCmd('UPLOAD')>UPLOAD</span>
                                        <span id="DOWNLOAD" class="app-cmds-list-item" onclick=selectCmd('DOWNLOAD')>DOWNLOAD</span>
                                        <span id="COMMAND" class="app-cmds-list-item" onclick=selectCmd('COMMAND')>COMMAND</span>
                                        <span id="RUN" class="app-cmds-list-item" onclick=selectCmd('RUN')>RUN</span>
                                        <span id="MOVE" class="app-cmds-list-item" onclick=selectCmd('MOVE')>MOVE</span>
                                        <span id="CLICK" class="app-cmds-list-item" onclick=selectCmd('CLICK')>CLICK</span>
                                        <span id="WRITE" class="app-cmds-list-item" onclick=selectCmd('WRITE')>WRITE</span>
                                        <span id="HOTKEY" class="app-cmds-list-item" onclick=selectCmd('HOTKEY')>HOTKEY</span>
                                    </div>
                                    <form class="app-cmds-form">
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text" style="align-self: center">Select a command</label>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="UPLOAD-form" method="POST" class="app-cmds-form" enctype="multipart/form-data" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="upload"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Upload a file</label>
                                                <input
                                                type="file"
                                                required
                                                name="file"
                                                class="app-form-field-fileinput input"
                                                />
                                            </div>
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter path on host</label>
                                                <input
                                                type="text"
                                                required
                                                name="location"
                                                value="downloads/"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                    </form>
                                    <form id="DOWNLOAD-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="download"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter path of the file</label>
                                                <input
                                                type="text"
                                                required
                                                name="filename"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                    </form>
                                    <form id="COMMAND-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="command"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter a command</label>
                                                <input
                                                type="text"
                                                required
                                                name="command"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                    </form>
                                    <form id="RUN-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="run"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter path of the file or internet resource</label>
                                                <input
                                                type="text"
                                                required
                                                name="filename"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                    </form>
                                    <form id="MOVE-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="move"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter x-coordinate</label>
                                                <input
                                                type="number"
                                                required
                                                name="x"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter y-coordinate</label>
                                                <input
                                                type="number"
                                                required
                                                name="y"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Relative</label>
                                                <select class="app-form-field-select" name="relative">
                                                    <option>False</option>
                                                    <option>True</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="CLICK-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="click"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter x-coordinate</label>
                                                <input
                                                type="number"
                                                value="-1"
                                                required
                                                name="x"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter y-coordinate</label>
                                                <input
                                                type="number"
                                                value="-1"
                                                required
                                                name="y"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Select mouse key</label>
                                                <select class="app-form-field-select" name="button">
                                                    <option value="left">Left</option>
                                                    <option value="right">Right</option>
                                                    <option value="middle">Middle</option>
                                                </select>
                                            </div>
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter number of clicks</label>
                                                <input
                                                type="number"
                                                value="1"
                                                required
                                                name="clicks"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                    </form>
                                    <form id="WRITE-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="write"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter text</label>
                                                <input
                                                type="text"
                                                required
                                                name="text"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter speed</label>
                                                <input
                                                type="number"
                                                step="0.001"
                                                value="0.01"
                                                required
                                                name="speed"
                                                onclick="this.select()"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter</label>
                                                <select class="app-form-field-select" name="enter">
                                                    <option>False</option>
                                                    <option>True</option>
                                                </select>
                                            </div>
                                        </div>
                                    </form>
                                    <form id="HOTKEY-form" method="POST" class="app-cmds-form" style="display: none">
                                        <button type="submit" class="app-form-button button">
                                            <span>Send&nbsp;</span>
                                            <svg viewBox="0 0 1024 1024" class="app-form-button-icon">
                                                <path
                                                d="M86 896v-298l640-86-640-86v-298l896 384z"
                                                ></path>
                                            </svg>
                                        </button>
                                        <input
                                        type="hidden"
                                        placeholder="placeholder"
                                        name="cmd"
                                        value="hotkey"
                                        class="input"
                                        />
                                        <div class="app-form-field-row">
                                            <div class="app-form-field-div">
                                                <label class="app-form-field-text">Enter a hotkey</label>
                                                <input
                                                type="text"
                                                required
                                                name="text"
                                                class="app-form-field-textinput input"
                                                />
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            fetch(IP + "/api/host_info/{{uuid}}")
                .then(function (response) {
                    return response.json()
                })
                .then(function (info) {
                    document.getElementById('host-name').value = info['name']
                    document.getElementById('host-uuid').textContent = info['uuid']
                    document.getElementById('host-status').textContent = info['status'] ? "online" : "offline"
                    document.getElementById('host-lastseen').textContent = info['lastSeen']
                    document.getElementById('host-timecreated').textContent = info['timeCreated'].replace("T", " ").slice(0, -7)
                })


            function reload_info() {
                fetch(IP + "/api/host_info/{{uuid}}")
                    .then(function (response) {
                        return response.json()
                    })
                    .then(function (info) {
                        document.getElementById('host-status').textContent = info['status'] ? "online" : "offline"
                        document.getElementById('host-lastseen').textContent = info['lastSeen']
                    })
                    .then(function () {
                        fetch(IP + "/api/latest_snip/{{uuid}}/m", {cache: 'reload'})
                            .then(function (response) {
                                const header = response.headers.get('Content-Disposition')
                                const parts = header.split(';');
                                filename = parts[1].split('=')[1].replaceAll("\"", "");
                                return response.blob()
                            })
                            .then(function (blob) {
                                document.getElementById('host-snip').src = URL.createObjectURL(blob)
                                document.getElementById('host-snip').value = filename
                            })
                    })
            }

            function repeat_reload_info() {
                reload_info()
                refresh_timer = setTimeout(repeat_reload_info, 5000)
            }

            repeat_reload_info()

            let input = document.getElementById('host-name'), timer;

            function onTypingStop() {
                fetch(IP + "/api/update_hostname", {
                    method: "POST",
                    body: JSON.stringify({
                        uuid: "{{uuid}}",
                        hostname: input.value
                    }),
                    headers: {
                        "Content-type": "application/json; charset=UTF-8"
                    }
                })
            }

            input.addEventListener('keyup', function () {
                clearTimeout(timer);
                timer = setTimeout(onTypingStop, 1000);
            });

            function snip_popup(toggle) {
                if (toggle) {
                    document.getElementsByClassName("app-snip-popup")[0].style.display = "flex";
                    fetch(IP + "/api/snip/{{ uuid }}/" + document.getElementById('host-snip').value.replace("jpg", "png"), {cache: 'reload'})
                        .then(function (response) {
                            return response.blob()
                        })
                        .then(function (blob) {
                            document.getElementsByClassName("app-snip-popup-image")[0].src = URL.createObjectURL(blob)
                        })
                } else {
                    document.getElementsByClassName("app-snip-popup")[0].style.display = "none";
                }
            }

            function see_original() {
                window.open(document.getElementsByClassName("app-snip-popup-image")[0].src)
            }


            function selectCmd(cmd) {
                let cmd_list_items = document.getElementsByClassName('app-cmds-list-item');
                for (let i = 0; i < cmd_list_items.length; ++i) {
                    cmd_list_items[i].classList.remove('selected')
                }
                let cmd_forms = document.getElementsByClassName('app-cmds-form')
                for (let i = 0; i < cmd_forms.length; ++i) {
                    cmd_forms[i].style.display = "none"
                }
                document.getElementById(cmd).classList.add('selected')
                document.getElementById(cmd + "-form").style.display = "flex"
            }

            document.addEventListener("DOMContentLoaded", (event) => {
                let cmd_forms = document.getElementsByClassName('app-cmds-form')
                for (let i = 0; i < cmd_forms.length; ++i) {
                    cmd_forms[i].addEventListener("submit", function (e) {
                        e.preventDefault(); // Cancel the default action
                        submitForm(cmd_forms[i]);
                        cmd_forms[i].reset();
                    });
                }
            });

            function submitForm(form) {
                // let formElement = document.getElementById(form);
                let data = new FormData(form);
                fetch(IP+'/host/{{uuid}}/submit', {
                    method: 'POST',
                    body: data,
                })
                    .then(async function (response) {
                        const header = response.headers.get('Content-Disposition');
                        if (header == null) {
                            return [false, await response.json()]
                        }
                        const parts = header.split(';');
                        filename = parts[1].split('=')[1].replaceAll("\"", "");
                        return [true, await response.blob()]
                    })
                    .then(function ([file, data]) {
                        if (file === true) {
                            let link = document.createElement("a");
                            link.href = window.URL.createObjectURL(data);
                            link.download = filename;
                            document.body.appendChild(link); // Required for FF
                            link.click();
                            // document.body.removeChild(link);
                        } else {
                            console.log(data)
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            }


        </script>
    </body>
</html>
